@import "../helpers/variables";

/* =======================================================
                         TYPOGRAPHY
======================================================== */

//Custom fonts
@font-face {
  font-family: 'Lato Light';
  src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Light.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Lato-Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Lato-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lato Italic';
  src: url('../fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Lato-Italic.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Lato-Italic.ttf') format('truetype'); /* Safari, Android, iOS */
}

//Font stacks
$lato-light-stack: "Lato Light", sans-serif;
$lato-italic-stack: "Lato Italic", sans-serif;

//Base font settings
body {
  font-size: 16px;
}

h1, h2, h3, p, a {
  font-family: $lato-light-stack;
  color: $text-color;
}

a {
  text-decoration: none;
}

//Custom typography settings

.project-text p {
  font-family: $lato-italic-stack;
  font-size: 0.8em;
  color: $project-text-color;
}

.copyright {
  font-size: 0.4em;
}