/* =======================================================
                         HEADER
======================================================== */
@import '../helpers/mixins';
@import '../helpers/variables';
@import '../helpers/extends';

.main-header {
  display: flex;
  flex-direction: column;
  @include flexItemProps(30vh);
  background: $header-bg;

  .site-name-container {
    display: flex;
    img {
      &.logo {
        width: 30%;
        padding: 0.5em;
        margin-left: 1em;
      }
      &.title {
        margin-right: 1.5em;
        @media screen and (min-width: 500px) {
          margin-right: 0;
          width:40%;
        }
      }
    }

    @media screen and (min-width: 500px) {
      flex: 1 0 auto;
    }
  }

  .main-nav {
    display: flex;
    flex-direction: column;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid $border-color;
      padding: 1em 0;
      @media screen and (min-width: 500px) {
        border-top: none;
      }
    }

    @media screen and (min-width: 500px) {
      flex-direction: row;
      justify-content: space-around;
      border-top: 1px solid $border-color;
    }
  }

  @media screen and (min-width: 500px) {
    @include flexItemProps(25vh);
  }
}