/* =======================================================
                         HEADER
======================================================== */

.main-header {
  @extend %flexColumn;

  .main-nav {
    @extend %flexColumn;
    flex: 1 0 auto;

    a {
      @extend %flexRow;
      @extend %crossAxisCenterAlign;
      justify-content: center;
      border-top: 1px solid rgba($white, 0.5);
      padding: 1em 0;
      @media screen and (min-width: 500px) {
        border-top: none;
      }
    }

    @media screen and (min-width: 500px) {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;

      justify-content: space-around;
      border-top: 1px solid rgba($white, 0.5);
    }
  }

  @media screen and (min-width: 500px) {
    @include flexBasisOnly(25vh);
  }
}