/* =======================================================
                         HEADER
======================================================== */

.main-header {
  @extend %flexColumn;
  @include flexBasisOnly(30vh);

  .site-name-container {
    @extend %flexRow;
    img {
      &.logo {
        width: 30%;
        padding: em(8px);
        margin-left: em(16px);
      }
      &.title {
        margin-right: em(24px);
        @media screen and (min-width: 500px) {
          margin-right: 0;
          width:40%;
        }
      }
    }

    @media screen and (min-width: 500px) {
      flex: 1 0 auto;
    }
  }

  .main-nav {
    @extend %flexColumn;
    a {
      @extend %flexRow;
      @extend %crossAxisCenterAlign;
      justify-content: center;
      border-top: 1px solid rgba($white, 0.5);
      padding: 1em 0;
      @media screen and (min-width: 500px) {
        border-top: none;
      }
    }

    @media screen and (min-width: 500px) {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;

      justify-content: space-around;
      border-top: 1px solid rgba($white, 0.5);
    }
  }

  @media screen and (min-width: 500px) {
    @include flexBasisOnly(25vh);
  }
}