/* =======================================================
                         CONSTANTS
======================================================== */

//Colors
$dark-gray: #393939;
$light-gray: #808080;
$bright-orange: #D34405;
$bunker: #0F181C;
$picton-blue: #37AEE5;

//Base styles
$text-color: white;
$border-color: rgba(white, 0.5);

//Components
//Header
$header-bg: $bunker;

//Content
$text-bg: rgba(white, 0.7);
$project-text-color: $bunker;
$bg-color: $bunker;

//Footer
$footer-bg: $bunker;
$footer-icons: $bright-orange;
