/* =======================================================
                         CONSTANTS
======================================================== */
$dark-gray : #393939;
$light-gray : #808080;
$bright-orange : #D34405;
$dark-orange : #C04200;
$blue : #005780;

@import url('https://fonts.googleapis.com/css?family=Lato');

/* =======================================================
                         BASE STYLES
======================================================== */
html {
   height:100%;
 }

body {
  min-height: 100%;
  display:flex;
  flex-direction: column;
}

h1, h2, h3, p, a{
  font-family: "Lato Light", sans-serif;
  color: white;
}

h2 {
  font-size: 24pt;
}
h3 {
  font-size: 1.2em;
}
p {
  font-size: 12pt;
}
a {
  font-size: 12pt;
  text-decoration: none;
}


/* =======================================================
                          CONTAINERS
======================================================== */

//Header
.main-header {
  background: $dark-gray;
  display: flex;
  flex-direction: column;
  flex:5;
  .site-name-container {
    display: flex;
    flex-direction: row;
    flex:2;
    width:100%;
    img {
      &.logo {
        width: 30%;
        padding: 0.5em;
        margin-left: 5%;
      }
      &.title {
        width: 45%;
      }
    }
  }

  .main-nav {
    display:flex;
    flex-direction: column;
    width:100%;
    flex: 4;
    a {
      display:flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      border-top: 2px solid white;
      font-size: 1.2em;
    }
  }
}

//Content
.main-content {
  background: $light-gray;
  flex: 30;
}

//Footer
.main-footer {
  background: $dark-gray;
  display:flex;
  justify-content: space-between;
  flex: 1;

  .copyright {
    margin-left:3%;
    opacity: 0.5;
    align-self: center;
  }

  .icon-container {
    width: 25%;
    margin-right:5%;
    justify-content: space-between;
    align-items: center;
    display:flex;
    img {
      height:60%;
    }
  }
}



