/* =======================================================
                          ICONS
======================================================== */

// Social icons

.icon__social {
  width: 15%;
  margin-top: em(16px);
  margin-left: em(5px);
  margin-right: em(5px);

  &:first-child {
    margin-left: em(16px);
  }

  &:last-child {
    margin-right: em(16px);
  }

  @media screen and (min-width:500px) {
    width: 10%;
  }

  @media screen and (min-width:724px) {
    width: 5%;
  }
}

// Logo

.logo {
  flex: 1 0 auto;
  width: 80%;
  margin: em(16px) 0;
  align-self: center;

  @media screen and (min-width: 724px) {
    max-width:25%;
    margin-right:auto;
    margin-left: em(32px);
  }
}